/* Estilos generales para el body y la página */
body {
    font-family: Arial, sans-serif;
    background-color: #577399;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.rankings-box {
    background-color: #BDD5EA;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.rankings-box h2 {
    color: #495867;
}

.input-section {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 400px;
}

.input-section label {
    font-weight: bold;
    text-align: left;
}

#nombre-comunidad,
#descripcion-comunidad {
    width: 100%;
    padding: 10px;
    border: 1px solid #6785ad;
    border-radius: 20px;
    outline: none;
}

/* Estilos para el botón de envío */
.button-section button {
    background-color: #F7F7FF;
    color: #495867;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-section button:hover {
    background-color: #577399;
}