main {
    font-family: Arial, sans-serif;
    background-color: #577399;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.incident-box {
    background-color: #BDD5EA;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
    text-align: left; /* Alinear el contenido a la izquierda */
}

.incident-box h1 {
    color: #495867;
    margin-bottom: 20px;
    text-align: center; /* Centrar el título horizontalmente */
}

.column {
    display: inline-block;
    width: 45%; /* Ajusta el ancho de las columnas según tu preferencia */
    margin-right: 5%; /* Agrega margen derecho para separar las columnas */
    vertical-align: top; /* Alinea las columnas en la parte superior */
}

.column:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última columna */
}

.input-section {
    margin-bottom: 20px;
}

.input-section h3 {
    font-weight: bold;
    margin-top: 10px;
    color: #495867;
}

/* Estilo para los atributos */
.info-box {
    padding: 5px 0; /* Espaciado interior para los atributos */
    color: #495867; /* Color de texto */
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
}

/* Efecto de cambio de color al pasar el mouse sobre los atributos */
.info-box:hover {
    background-color: #D2DBE7; /* Cambio de color al pasar el mouse */
}
