body {
    font-family: Arial, sans-serif;
    background-color: #577399;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.login-box {
    background-color: #BDD5EA;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    margin: 0 auto;
}



.login-box h2 {
    margin-top: 15px;
    color: #495867;
}

select {
    background-color: #F7F7FF;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.dynamic-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
/* Estilos para la lista dinámica */
    max-height: 300px; /* Cambia esto según tu preferencia */
    overflow-y: auto;

}



.dynamic-list li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #495867;
    display: flex;
    align-items: center;
}

.dynamic-list li::before {
    content: '\2022'; /* Código Unicode para una viñeta (puedes cambiarlo a números si lo prefieres) */
    color: #577399;
    margin-right: 5px;
    font-weight: bold;
}
