<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Usuario</title>
    <link rel="stylesheet" type="text/css" href="css/AgregarUsuario.css">
</head>
<body>
    <div class="container">
        <div class="add-user-box">
            <h1>Agregar Usuario</h1> <!-- Título agregado -->
            
            <div class="input-section">
                <h3>Seleccione un Usuario:</h3>
                <select id="selector-usuario">
                    <option value="usuario1">Usuario 1</option>
                    <option value="usuario2">Usuario 2</option>
                    <option value="usuario3">Usuario 3</option>
                </select>
            </div>

            <div class="input-section">
                <h3>Comunidad:</h3>
                <select id="selector-comunidad">
                    <option value="comunidad1">Comunidad 1</option>
                    <option value="comunidad2">Comunidad 2</option>
                    <option value="comunidad3">Comunidad 3</option>
                </select>
            </div>

            <div class="input-section">
                <h3>Establezca su Rol:</h3>
                <select id="selector-rol">
                    <option value="rol1">Rol 1</option>
                    <option value="rol2">Rol 2</option>
                    <option value="rol3">Rol 3</option>
                </select>
            </div>

            <div class="input-section">
                <h3>Establezca su Función:</h3>
                <select id="selector-funcion">
                    <option value="funcion1">Función 1</option>
                    <option value="funcion2">Función 2</option>
                    <option value="funcion3">Función 3</option>
                </select>
            </div>
            
            <div class="button-section">
                <button type="submit">Agregar</button>
            </div>
        </div>
    </div>
</body>
</html>
