{{#partial "contenido" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportar Incidente</title>
    <link rel="stylesheet" type="text/css" href="../public/css/ReportarIncidente.css"> <!-- Enlace a tu archivo CSS personalizado -->
</head>
<body>
    <div class="container">
        <div class="report-incident-box">
            <h2>Reportar Incidente</h2>

            <form action="procesar_incidente.php" method="post" enctype="multipart/form-data">
                <div class="input-section">
                    <label for="nombre-incidente">Nombre</label>
                    <input type="text" id="nombre-incidente" placeholder="Introduzca el nombre" name="nombre-incidente" required>
                </div>

                <div class="input-section">
                    <label for="comunidad">Comunidad</label>
                    <select id="comunidad" name="comunidad">
                        <option value="comunidad1">Comunidad 1</option>
                        <option value="comunidad2">Comunidad 2</option>
                        <option value="comunidad3">Comunidad 3</option>
                    </select>
                </div>

                <div class="input-section">
                    <label for="observaciones">Observaciones</label>
                    <textarea id="observaciones" name="observaciones" placeholder="Introduzca sus observaciones" rows="4"></textarea>
                </div>
                
                <div class="input-section">
                    <label for="establecimientos">Seleccionar Establecimiento</label>
                    <select id="establecimientos" name="establecimientos" >
                        <option value="establecimiento1">Establecimiento 1</option>
                        <option value="establecimiento2">Establecimiento 2</option>
                        <option value="establecimiento3">Establecimiento 3</option>
                    </select>
                </div>

                <div class="input-section">
                    <label for="servicios">Seleccionar Servicio</label>
                    <select id="servicios" name="servicios">
                        <option value="servicio1">Servicio 1</option>
                        <option value="servicio2">Servicio 2</option>
                        <option value="servicio3">Servicio 3</option>
                    </select>
                </div>

              
                <div class="button-section">
                    <button type="submit">Enviar Reporte</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{{/partial}}
{{> templates/base }}